<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Shuffling Pines</title>
  <link rel="stylesheet" href="styles.css" />
  <script src="vendor.js"></script>
  <script src="//cdn.jsdelivr.net/webshim/1.15.10/polyfiller.js"></script>
  <script>
    webshims.setOptions('forms-ext', {types: 'date'});
    webshims.polyfill('forms forms-ext');
  </script>
  <script src="app.js"></script>
</head>
<body ng-app="shuffling" ng-cloak>
  <h1>Shuffling Pines</h1>
  <div class="row">
    <div class="col-md-12" ng-controller="GuestController as guestCtrl">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" ng-class="{active: guestCtrl.isActiveTab('form')}"><a href="#form" aria-controls="form" role="tab" data-toggle="tab" ng-click="guestCtrl.setActiveTab('form')">Form</a></li>
        <li role="presentation" ng-class="{active: guestCtrl.isActiveTab('guests')}"><a href="#guests" aria-controls="guests" role="tab" data-toggle="tab" ng-click="guestCtrl.setActiveTab('guests')">Guests</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <!-- Guest Form -->
        <div role="tabpanel" class="tab-pane" ng-class="{active: guestCtrl.isActiveTab('form')}" id="form">
          <form class="col-md-6 well" ng-submit="guestCtrl.processGuest()">
            <div class="form-group">
              <label for="guest-name">Guest Name</label>
              <input ng-model="guestCtrl.name" required type="text" class="form-control" id="guest-name" placeholder="">
            </div>
            <div class="form-group">
              <label for="transition-date">Transition Date</label>
              <input ng-model="guestCtrl.transitionDate" required type="date" class="form-control" id="transition-date" placeholder="">
            </div>
            <div class="radio">
              <label>
                <input ng-model="guestCtrl.status" type="radio" name="pickup-dropoff" id="pickup" value="pickup">
                Pick-up
              </label>
            </div>
            <div class="radio">
              <label>
                <input ng-model="guestCtrl.status" ng-click="guestCtrl.clearPickupLocation()" type="radio" name="pickup-dropoff" id="dropoff" value="dropoff">
                Drop-off
              </label>
            </div>
            <div ng-show="guestCtrl.isPickup()" class="form-group">
              <label for="location">Location</label>
              <textarea ng-model="guestCtrl.pickupLocation" ng-required="guestCtrl.isPickup()" class="form-control" id="location"></textarea>
            </div>
            <button type="submit" class="btn">Submit</button>
          </form>

          <!-- Form Display -->
          <div class="col-md-6 well">
            <div class="form-group">
              <label>Name: </label>
              {{ guestCtrl.name }}
            </div>
            <div class="form-group">
              <label>Transition Date: </label>
              {{ guestCtrl.transitionDate }}
            </div>
            <div class="form-group">
              <label>Status: </label>
              {{ guestCtrl.status }}
            </div>
            <div ng-show="guestCtrl.isPickup()" class="form-group">
              <label>Location: </label>
              {{ guestCtrl.pickupLocation }}
            </div>
          </div>
        </div>

        <!-- Guest List -->
        <div role="tabpanel" class="tab-pane" ng-class="{active: guestCtrl.isActiveTab('guests')}" id="guests">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Transition Date</th>
                <th>Status</th>
                <th>Pickup Location</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="(index, guest) in guestCtrl.guests | filter:{removed:'!true'} | orderBy:'transitionDate':true">
                <td>{{ guest.name }}</td>
                <td>{{ guest.transitionDate }}</td>
                <td>
                  {{ guest.status }}
                  <button ng-click="guestCtrl.updateStatus(guest)" class="btn btn-info">Update to {{ guestCtrl.getStatusTransition(guest) }}</button>
                </td>
                <td>{{ guest.pickupLocation }}</td>
                <td><button ng-click="guestCtrl.removeGuest(guest)" class="btn btn-danger">Remove</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</body>
</html>